<div id="follow_request-{{ follow_request.id }}" class="mb-4">
    <div class="card border-{{ color }} border-top-0 border-bottom-0 border-end-0 border-5 rounded-0 bg-light">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="pe-2">
                    <div class="mb-2">
                        <span
                            class="badge rounded-pill bg-{{ color }}"
                            data-bs-toggle="tooltip"
                            title="{{ follow_request.type.description }}"
                        >
                            {{ follow_request.type.label }}
                            <i class="ri-question-fill"></i>
                        </span>
                        <small class="text-muted">
                            Le {{ follow_request.proposedAt | format_date('full', locale='fr') }}
                        </small>
                    </div>
                    {% if follow_request.type.code == 'meal_list' %}
                        <p>
                            <span class="fw-bold">{{ follow_request.follower.username }}</span> vous propose l'accès à ses
                            <span class="fw-bold">listes de repas</span>, souhaitez-vous accepter ?
                            <br />
                            Si vous acceptez, vous pourrez voir ses listes de repas dans la page idoine.
                        </p>
                        {# display a message explaining which action has been taken #}
                        <div class="fst-italic text-muted">
                            <small>
                                {% if follow_request.acceptedAt != null %}
                                    <i class="ri-checkbox-circle-fill"></i>
                                    Vous avez accepté l'accès à la liste de repas le
                                    {{ follow_request.acceptedAt | format_date('full', locale='fr') }}.
                                {% elseif follow_request.refusedAt != null %}
                                    <i class="ri-close-circle-fill"></i>
                                    Vous avez refusé l'accès à la liste de repas le
                                    {{ follow_request.refusedAt | format_date('full', locale='fr') }}.
                                {% endif %}
                            </small>
                        </div>
                    {% elseif follow_request.type.code == 'username_on_recipe' %}
                        <p>
                            <span class="fw-bold">{{ follow_request.follower.username }}</span> vous propose de voir son
                            <span class="fw-bold">pseudo</span> dans les <span class="fw-bold">recettes</span> qu'ael a rédigées,
                            souhaitez-vous accepter ?
                            <br />
                            Si vous acceptez, vous pourrez voir son pseudo dans les pages de recettes correspondantes.
                        </p>
                        {# display a message explaining which action has been taken #}
                        <div class="fst-italic text-muted">
                            <small>
                                {% if follow_request.acceptedAt != null %}
                                    <i class="ri-checkbox-circle-fill"></i>
                                    Vous avez accepté de voir son pseudo sur ses recettes le
                                    {{ follow_request.acceptedAt | format_date('full', locale='fr') }}.
                                {% elseif follow_request.refusedAt != null %}
                                    <i class="ri-close-circle-fill"></i>
                                    Vous avez refusé de voir son pseudo sur ses recettes le
                                    {{ follow_request.refusedAt | format_date('full', locale='fr') }}.
                                {% endif %}
                            </small>
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex flex-column">
                    {# display buttons to accept/reject follow request #}
                    <div class="mb-1">
                        {% if (follow_request.processedAt == null) or (follow_request.refusedAt != null) %}
                            <button
                                class="btn btn-outline-{{ color }} btn-sm accept-access"
                                data-url-accept-access="{{ path('api_follow_request_accept_follow', {'id': follow_request.id}) }}"
                            >
                                Accepter
                            </button>
                        {% endif %}
                        {% if (follow_request.processedAt == null) or (follow_request.acceptedAt != null) %}
                            <button
                                class="btn btn-outline-{{ color }} btn-sm refuse-access"
                                data-url-refuse-access="{{ path('api_follow_request_refuse_follow', {'id': follow_request.id}) }}"
                            >
                                {% if follow_request.processedAt == null %}
                                    Refuser
                                {% elseif follow_request.acceptedAt != null %}
                                    Révoquer
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
