{% set notification = notification_history %}
<div id="notification-{{ notification.id }}" class="mb-4">
    <div class="card border-{{ color }} border-top-0 border-bottom-0 border-end-0 border-5 rounded-0 bg-light">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="pe-2">
                    <div class="mb-2">
                        <span
                            class="badge rounded-pill bg-{{ color }}"
                        >
                            {{ notification.subject }}
                        </span>
                        <small class="text-muted">
                            Le {{ notification.notificationSent.sentAt | format_date('full', locale='fr') }}
                        </small>
                    </div>
                    {{ notification.content | markdown_to_html }}
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <button
                            class="btn btn-outline-{{ color }} btn-sm toggle-read-notification w-100"
                            data-url-toggle-read-notification="{{ path('api_notification_toggle_read', {'id': notification.id}) }}"
                        >
                            {{ button_label | default('Marquer comme&nbsp;lu') | raw }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
