{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h6>
                        <a href="{{ path('home') }}">Accueil</a>
                        / Mon compte
                    </h6>
                    <h2>
                        Mon compte
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-end">
                <a class="btn btn-primary btn-large" href="{{ path('my_account_edit_password') }}">
                    Modifier mon mot de passe
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr class="border-bottom">
                        <th>Responsabilités</th>
                        <td>
                            {%  for responsibility in user.responsibilities %}
                                <span>{{ responsibility.label }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="page-heading">
                <h2 class="my-4">
                    Mes valeurs nutritionnelles
                </h2>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-end">
            <a class="btn btn-primary btn-large" href="{{ path('my_account_edit_nutritional_data') }}">
                Éditer mes valeurs nutritionnelles
            </a>
        </div>
    </div>
    <table class="w-100 bg-white text-center table-bordered table mb-0">
        <tr class="border-bottom">
            <td>Protéines</td>
            <td>Lipides</td>
            <td>Glucides</td>
            <td>Énergie</td>
        </tr>
        <tr class="border-bottom">
            <td>{{ user.proteins }} g</td>
            <td>{{ user.fat }} g</td>
            <td>{{ user.carbohydrates }} g</td>
            <td>{{ user.energy }} kcal</td>
        </tr>
    </table>
    <div class="row mt-4">
        <div class="col">
            <div class="page-heading">
                <h2 class="my-4">
                    Mes réglages de confidentialité
                </h2>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-end">
            {# Commented for notifications and follow rework #}
            <a class="btn btn-primary btn-large disabled" {# href="{{ path('my_account_edit_privacy_settings') }}" #}>
                Éditer mes réglages de confidentialité
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    <h6 class="klassy-cafe">Recettes</h6>
                </li>
                <li class="mb-3">
                    {% if user.doShowUsernameOnRecipe %}
                        <i class="ri-eye-fill bg-dark text-white p-2 rounded"></i>
                        Mon username <strong>est</strong> affiché sur les <strong>recettes</strong> que j'ai rédigées
                    {% else %}
                        <i class="ri-eye-close-line bg-dark text-white p-2 rounded"></i>
                        Mon username <strong>n'est pas</strong> affiché sur les <strong>recettes</strong> que j'ai rédigées
                        {% if acceptedUsernameOnRecipeFollows | length > 0 %}
                            <strong>sauf</strong> pour les personnes suivantes&nbsp;
                            {% for acceptedUsernameOnRecipeFollow in acceptedUsernameOnRecipeFollows %}
                                <ul class="ms-4 ps-2 mt-3">
                                    <li>
                                        <i class="ri-eye-fill bg-dark text-white p-2 rounded"></i>
                                        {{ acceptedUsernameOnRecipeFollow.follower.username }}
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </li>
                <li>
                    <h6 class="klassy-cafe mt-4">Listes de repas</h6>
                </li>
                <li class="mb-3">
                    {% if user.doShowWrittenMealListToOthers %}
                        <i class="ri-eye-fill bg-dark text-white p-2 rounded"></i>
                        Les <strong>listes de repas</strong> que j'ai rédigées <strong>sont visibles</strong> par toute personne connectée au site
                    {% else %}
                        <i class="ri-eye-close-line bg-dark text-white p-2 rounded"></i>
                        Les <strong>listes de repas</strong> que j'ai rédigées ne <strong>sont visibles que par moi-même</strong>
                    {% endif %}
                    {% if acceptedMealListFollows | length > 0 %}
                        <strong>et</strong> par les personnes suivantes&nbsp;:
                        {% for acceptedMealListFollow in acceptedMealListFollows %}
                            <ul class="ms-4 ps-2 mt-3">
                                <li>
                                    <i class="ri-eye-fill bg-dark text-white p-2 rounded"></i>
                                    {{ acceptedMealListFollow.follower.username }}
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
