{% extends 'base.html.twig' %}

{% block title %}Liste des courses{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
        Liste des courses
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h4>Pour les repas ci-dessous</h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col table-responsive">
            {{ include('meal_list/_table.html.twig', {'meal_lists': meal_lists, 'show_action_buttons': false}) }}
        </div>
    </div>
    <hr />
    <div class="row mt-5 mb-4">
        <div class="col">
            <h4>Il vous faudra les éléments suivants :</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for store in grocery_list %}
                <form>
                    <div class="card border-0 mb-4">
                        <div class="card-body bg-light">
                            {% if store.store.label is not empty %}
                                <h5 class="card-title mb-2">
                                    {{ store.store.label }}
                                </h5>
                            {% endif %}
                            {% for grocery in store.checkNotNeeded %}
                                <div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="grocery-check-{{ grocery.id }}">
                                        <label class="custom-control-label" for="grocery-check-{{ grocery.id }}">
                                            {% if grocery.isMeasuredByUnit %}
                                                {{ grocery.unitQuantity }}
                                            {% else %}
                                                {{ grocery.quantity }} {{ grocery.measureType }} de
                                            {% endif %}
                                            {{ grocery.label }}
                                            {% if grocery.isMeasuredByUnit %}
                                                ({{ grocery.quantity }} {{ grocery.measureType }})
                                            {% endif %}
                                            <a href="{{ path('ingredient_show', {'id': grocery.id}) }}"
                                                target="_blank"
                                                class="text-muted">
                                                <small>Voir la fiche ingrédient</small>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if store.checkNeeded | length > 0 %}
                                <h6 class="mt-3 mb-1 fst-italic">Il faut vérifier s'il reste :</h6>
                                {% for grocery in store.checkNeeded %}
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="grocery-check-{{ grocery.id }}">
                                            <label class="custom-control-label" for="grocery-check-{{ grocery.id }}">
                                                {% if grocery.isMeasuredByUnit %}
                                                    {{ grocery.unitQuantity }}
                                                {% else %}
                                                    {{ grocery.quantity }} {{ grocery.measureType }} de
                                                {% endif %}
                                                {{ grocery.label }}
                                                {% if grocery.isMeasuredByUnit %}
                                                    ({{ grocery.quantity }} {{ grocery.measureType }})
                                                {% endif %}
                                                <a href="{{ path('ingredient_show', {'id': grocery.id}) }}"
                                                    target="_blank"
                                                    class="text-muted">
                                                    <small>Voir la fiche ingrédient</small>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}
