{% if app.user is not null %}
    {{ form_start(form, {'attr': {'class': 'd-flex g-0 align-items-center'}}) }}
        <div class="flex-grow-1 me-2">
            {{ form_widget(form.identifier, {'attr': { 'class': 'form-control', 'placeholder': 'Identifiant (URL du produit ou numéro du code barre)'}}) }}
            {{ form_help(form.identifier) }}
            {{ form_errors(form.identifier) }}
        </div>
        <div class="">
            <button type="submit" class="btn btn-outline-secondary">
                {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    {{ form_end(form) }}
{% endif %}
