{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block page_breadcrumb %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item">Ingrédients</li>
                <li class="breadcrumb-item active" aria-current="page">Liste des ingrédients</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h2>Liste des ingrédients</h2>
                </div>
            </div>
            {% if app.user is not null %}
                <div class="col-12 col-lg-4 text-end">
                    <a class="btn btn-primary btn-large" href="{{ path('ingredient_new') }}">Créer un nouvel ingrédient</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if app.user is not null %}
        <div class="row mb-4">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body bg-light">
                    <h5 class="card-title lh-1 mt-2">
                        Importer un ingrédient depuis
                        <a href="https://fr.openfoodfacts.org" target="_blank">
                            <i class="ri-external-link-fill"></i>
                            Open Food Facts
                        </a>
                    </h5>
                    <div class="pt-3 mb-0">
                        {{ include('ingredient/_create_from_openfoodfacts_form.html.twig', {
                            'button_label': 'Créer depuis Open Food Facts',
                        }) }}
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <table class="table table-stripped table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        {% if app.user is not null %}
                            <th class="text-center align-middle">Id</th>
                        {% endif %}
                        <th class="align-middle">Label</th>
                        <th class="text-center align-middle">Marque</th>
                        <th class="text-center align-middle">Magasin</th>
                        <th class="text-center align-middle">
                            Manière<br>de mesurer
                            <i class="ri-question-fill"
                               data-bs-toggle="tooltip"
                               title="Comment on mesure cet ingrédient
                                        (par exemple
                                        g, ml, l, unité, ...)"></i>
                        </th>
                        <th class="text-center align-middle">
                            Taille d'une<br>part moyenne
                            <i class="ri-question-fill"
                               data-bs-toggle="tooltip"
                               title="Cette quantité correspond à peu près
                                        à ce qu'une personne mangerait en un repas
                                        (par exemple 45g de riz cru correspond à
                                        ce que je mangerais en un repas)."></i>
                        </th>
                        <th class="text-center align-middle">
                            Apport en<br>protéines
                            <i class="ri-question-fill"
                               data-bs-toggle="tooltip"
                               title="Ratio protéines / énergie, plus le ratio
                                        est élevé, plus l'indicateur sera vert."></i>
                        </th>
                        <th class="text-center align-middle">Protéines</th>
                        <th class="text-center align-middle">Glucides</th>
                        <th class="text-center align-middle">Lipides</th>
                        <th class="text-center align-middle">Énergie</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            {% if app.user is not null %}
                                <td class="text-center align-middle">{{ ingredient.id }}</td>
                            {% endif %}
                            <td class="align-middle"><strong>{{ ingredient.label }}</strong></td>
                            <td class="text-center align-middle">
                                {% if ingredient.brand is empty %}
                                    <small class="text-muted fst-italic">
                                        Générique
                                    </small>
                                {% else %}
                                    {{ ingredient.brand }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if ingredient.store is not null %}
                                    {{ ingredient.store.label }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">{{ ingredient.measureType }}</td>
                            <td class="text-center align-middle">
                                {% if ingredient.portionSize is not empty %}
                                    {{ ingredient.portionSize }} {{ ingredient.measureType }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if ingredient.energy > 0 %}
                                    {% set proteinRatio = ingredient.proteins / ingredient.energy %}
                                    {% if proteinRatio > 0.15 %}
                                        <i class="ri-checkbox-blank-circle-fill text-success"
                                           data-bs-toggle="tooltip"
                                           data-bs-html="true"
                                           title="Très riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% elseif proteinRatio > 0.1 %}
                                        <i class="ri-checkbox-blank-circle-fill text-info"
                                           data-bs-toggle="tooltip"
                                           data-bs-html="true"
                                           title="Riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% elseif proteinRatio > 0.05 %}
                                        <i class="ri-checkbox-blank-circle-fill text-muted"
                                           data-bs-toggle="tooltip"
                                           data-bs-html="true"
                                           title="Moyennement riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% else %}
                                        <i class="ri-checkbox-blank-circle-line text-muted"
                                           data-bs-toggle="tooltip"
                                           data-bs-html="true"
                                           title="Presque pas de protéines<br>({{ (proteinRatio * 100) | round }}%)"
                                           ></i>
                                    {% endif %}
                                {% else %}
                                    <i class="ri-checkbox-blank-circle-fill text-light"
                                       data-bs-toggle="tooltip"
                                       title="Apport en protéines non calculable"
                                       ></i>
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">{{ ingredient.proteins }} g</td>
                            <td class="text-center align-middle">{{ ingredient.carbohydrates }} g</td>
                            <td class="text-center align-middle">{{ ingredient.fat }} g</td>
                            <td class="text-center align-middle">{{ ingredient.energy }} kcal</td>
                            <td class="text-end align-middle">
                                {% if ingredient.barCode is not empty %}
                                    <a
                                        class="btn btn-secondary btn-sm"
                                        href="https://fr.openfoodfacts.org/produit/{{ ingredient.barCode }}"
                                        target="_blank"
                                        data-bs-toggle="tooltip"
                                        title="Voir sur OpenFoodFacts"
                                        >
                                        <i class="ri-bar-chart-box-fill"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-end align-middle">
                                <a
                                    class="btn-primary btn btn-sm"
                                    href="{{ path('ingredient_show', {'id': ingredient.id}) }}"
                                    >
                                    Voir
                                </a>
                            </td>
                            <td class="text-end align-middle">
                                {% if app.user is not null %}
                                    <a
                                        class="btn-secondary btn btn-sm"
                                        href="{{ path('ingredient_edit', {'id': ingredient.id}) }}"
                                        >
                                        Éditer
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Pas d'ingrédients enregistrés</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
