{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Ingrédients</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Liste des ingrédients
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>Liste des ingrédients</h1>
        </div>
        {% if app.user is not null %}
            <div class="col-6 text-right">
                <a class="btn btn-primary btn-large" href="{{ path('ingredient_new') }}">Créer un nouvel ingrédient</a>
            </div>
        {% endif %}
    </div>
    {% if app.user is not null %}
        <div class="row mb-4">
            <div class="col">
                {{ include('ingredient/_create_from_openfoodfacts_form.html.twig', {'button_label': 'Créer depuis Open Food Facts'}) }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <table class="table table-stripped table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        {% if app.user is not null %}
                            <th>Id</th>
                        {% endif %}
                        <th>Label</th>
                        <th>Marque</th>
                        <th>Magasin</th>
                        <th>Manière de mesurer<br>(g, ml, l, unité, ...)</th>
                        <th>Taille d'une portion</th>
                        <th class="text-center">Apport<br>en protéines</th>
                        <th>Protéines</th>
                        <th>Glucides</th>
                        <th>Lipides</th>
                        <th>Énergie</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            {% if app.user is not null %}
                                <td>{{ ingredient.id }}</td>
                            {% endif %}
                            <td><strong>{{ ingredient.label }}</strong></td>
                            <td>{{ ingredient.brand }}</td>
                            <td>{{ ingredient.shop }}</td>
                            <td>{{ ingredient.measureType }}</td>
                            <td>{{ ingredient.portionSize }} {{ ingredient.measureType }}</td>
                            <td class="text-center">
                                {% if ingredient.energy > 0 %}
                                    {% set proteinRatio = ingredient.proteins / ingredient.energy %}
                                    {% if proteinRatio > 0.15 %}
                                        <i class="ri-checkbox-blank-circle-fill text-success"
                                           data-toggle="tooltip"
                                           data-html="true"
                                           title="Très riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% elseif proteinRatio > 0.1 %}
                                        <i class="ri-checkbox-blank-circle-fill text-info"
                                           data-toggle="tooltip"
                                           data-html="true"
                                           title="Riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% elseif proteinRatio > 0.05 %}
                                        <i class="ri-checkbox-blank-circle-fill text-muted"
                                           data-toggle="tooltip"
                                           data-html="true"
                                           title="Moyennement riche en protéines<br>({{ (proteinRatio * 100) | round }}%)"></i>
                                    {% else %}
                                        <i class="ri-checkbox-blank-circle-line text-muted"
                                           data-toggle="tooltip"
                                           data-html="true"
                                           title="Presque pas de protéines<br>({{ (proteinRatio * 100) | round }}%)"
                                           ></i>
                                    {% endif %}
                                {% else %}
                                    <i class="ri-checkbox-blank-circle-fill text-light"
                                       data-toggle="tooltip"
                                       title="Apport en protéines non calculable"
                                       ></i>
                                {% endif %}
                            </td>
                            <td>{{ ingredient.proteins }} g</td>
                            <td>{{ ingredient.carbohydrates }} g</td>
                            <td>{{ ingredient.fat }} g</td>
                            <td>{{ ingredient.energy }} kcal</td>
                            <td class="text-right">
                                <a
                                    class="btn-primary btn btn-sm"
                                    href="{{ path('ingredient_show', {'id': ingredient.id}) }}"
                                    >
                                    Voir
                                </a>
                                {% if app.user is not null %}
                                    <a
                                        class="btn-secondary btn btn-sm"
                                        href="{{ path('ingredient_edit', {'id': ingredient.id}) }}"
                                        >
                                        Éditer
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Pas d'ingrédients enregistrés</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
