{% extends 'base.html.twig' %}

{% block title %}{{ ingredient.label }}{% endblock %}

{% block page_breadcrumb %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item">Ingrédients</li>
                <li class="breadcrumb-item"><a href="{{ path('ingredient_index') }}">Liste des ingrédients</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ ingredient.label }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h2>Fiche ingrédient - {{ ingredient.label }}</h2>
                </div>
            </div>
            {% if app.user is not null or ingredient.barCode is not empty %}
                <div class="col-12 col-lg-3 text-end">
                    <div class="d-flex justify-content-end">
                        {% if app.user is not null %}
                            {{ include('ingredient/_delete_form.html.twig') }}
                        {% endif %}
                        {% if ingredient.barCode is not empty %}
                            <a
                                class="btn btn-secondary btn-large ms-2"
                                href="https://fr.openfoodfacts.org/produit/{{ ingredient.barCode }}"
                                target="_blank"
                                data-toggle="tooltip"
                                title="Voir sur OpenFoodFacts"
                            >
                                <i class="ri-bar-chart-box-fill"></i>
                            </a>
                        {% endif %}
                        {% if app.user is not null %}
                            <a
                                class="btn btn-primary btn-large ms-2"
                                href="{{ path('ingredient_edit', {'id': ingredient.id}) }}"
                            >
                                Éditer
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ ingredient.id }}</td>
                </tr>
                <tr>
                    <th>Code barre</th>
                    <td><code>{{ ingredient.barCode }}</code></td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ ingredient.label }}</td>
                </tr>
                <tr>
                    <th>Marque</th>
                    <td>
                        {% if ingredient.brand is empty %}
                            <span class="text-muted font-italic">
                                Générique
                            </span>
                        {% else %}
                            {{ ingredient.brand }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Magasin</th>
                    <td>
                        {% if ingredient.store is not empty %}
                            {{ ingredient.store.label }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>
                        {% if ingredient.hasStockCheckNeededBeforeBuying %}
                            Vérifier dans les placards avant d'acheter
                        {% else %}
                            À acheter systématiquement
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Unité de mesure (g, ml, l, ...)</th>
                    <td>{{ ingredient.measureType }}</td>
                </tr>
                <tr>
                    <th>Vendu par paquets de</th>
                    <td>
                        {% if ingredient.shopBatchSize is not empty %}
                            {{ ingredient.shopBatchSize }} {{ ingredient.measureType }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Taille d'une unité</th>
                    <td>
                        {% if ingredient.unitSize is not empty %}
                            {{ ingredient.unitSize }} {{ ingredient.measureType }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Taille d'une part moyenne</th>
                    <td>
                        {% if ingredient.portionSize is not empty %}
                            {{ ingredient.portionSize }} {{ ingredient.measureType }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Protéines</th>
                    <td>{{ ingredient.proteins }} g</td>
                </tr>
                <tr>
                    <th>Glucides</th>
                    <td>{{ ingredient.carbohydrates }} g</td>
                </tr>
                <tr>
                    <th>Lipides</th>
                    <td>{{ ingredient.fat }} g</td>
                </tr>
                <tr>
                    <th>Énergie</th>
                    <td>{{ ingredient.energy }} kcal</td>
                </tr>
                <tr>
                    <th>Commentaire</th>
                    <td>{{ ingredient.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
