{% extends 'base.html.twig' %}

{% block title %}{{ ingredient.label }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Ingredients</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('ingredient_index') }}">Liste des ingredients</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ ingredient.label }}
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>{{ ingredient.label }}</h1>
        </div>
        {% if app.user is not null %}
            <div class="col-2 text-center">
                <div class="row">
                    <div class="col p-0">
                        {{ include('ingredient/_delete_form.html.twig') }}
                    </div>
                    <div class="col p-0">
                        <a class="btn btn-primary btn-large" href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">Éditer</a>
                    </div>
                    {% if ingredient.barCode is not empty %}
                        <div class="col-3 p-0">
                            <a
                                class="btn btn-secondary btn-large"
                                href="https://fr.openfoodfacts.org/produit/{{ ingredient.barCode }}"
                                target="_blank"
                                data-toggle="tooltip"
                                title="Voir sur OpenFoodFacts"
                                >
                                <i class="ri-bar-chart-box-fill"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Code barre</th>
                <td><code>{{ ingredient.barCode }}</code></td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ ingredient.label }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>
                    {% if ingredient.brand is empty %}
                        <span class="text-muted font-italic">
                            Générique
                        </span>
                    {% else %}
                        {{ ingredient.brand }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Magasin</th>
                <td>{{ ingredient.shop }}</td>
            </tr>
            <tr>
                <th>Manière de mesurer(g, ml, l, ...)</th>
                <td>{{ ingredient.measureType }}</td>
            </tr>
            <tr>
                <th>Vendu par paquets de</th>
                <td>
                    {% if ingredient.shopBatchSize is not empty %}
                        {{ ingredient.shopBatchSize }} {{ ingredient.measureType }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Taille d'une part moyenne</th>
                <td>
                    {% if ingredient.portionSize is not empty %}
                        {{ ingredient.portionSize }} {{ ingredient.measureType }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Protéines</th>
                <td>{{ ingredient.proteins }} g</td>
            </tr>
            <tr>
                <th>Glucides</th>
                <td>{{ ingredient.carbohydrates }} g</td>
            </tr>
            <tr>
                <th>Lipides</th>
                <td>{{ ingredient.fat }} g</td>
            </tr>
            <tr>
                <th>Énergie</th>
                <td>{{ ingredient.energy }} kcal</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ ingredient.comment }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
