<table class="table table-stripped table-sm table-hover">
    <thead class="thead-light">
        <tr>
            {% if app.user is not null %}
                <th class="text-center align-middle">Id</th>
            {% endif %}
            <th class="text-center align-middle">Personne</th>
            <th class="text-center align-middle">Du</th>
            <th class="text-center align-middle">Au</th>
            <th class="text-center align-middle">Repas</th>
            <th class="text-center align-middle">Commentaire</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for meal_list in meal_lists %}
        <tr>
            {% if app.user is not null %}
                <td class="text-center align-middle">{{ meal_list.id }}</td>
            {% endif %}
            <td class="text-center align-middle">{{ meal_list.personName }}</td>
            <td class="text-center align-middle">
                {{ meal_list.startDate | format_date('long', locale='fr') }}&nbsp;{{ meal_list.isStartingAtLunch ? 'midi' : 'soir' }}
            </td>
            <td class="text-center align-middle">
                {{ meal_list.endDate | format_date('long', locale='fr') }}&nbsp;{{ meal_list.isEndingAtLunch ? 'midi' : 'soir' }}
            </td>
            <td class="text-center align-middle">
                {% if meal_list.meals|length > 0 %}
                    <div class="d-inline-block text-left">
                        <ul class="pl-4">
                            {% for mealQuantityForList in meal_list.meals %}
                                <li>
                                    {{mealQuantityForList.meal.name }}&nbsp;x{{mealQuantityForList.quantity}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    Aucun repas n'est prévu (pour le moment)
                {% endif %}
            </td>
            <td class="text-center align-middle">{{ meal_list.comment }}</td>
            <td class="text-center align-middle">
                <a class="btn btn-primary btn-sm" href="{{ path('meal_list_show', {'id': meal_list.id}) }}">Voir</a>
                {% if app.user is not null %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('meal_list_edit', {'id': meal_list.id}) }}">Éditer</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            {% if app.user is not null %}
                <td class="text-center align-middle" colspan="7">Aucun élément trouvé</td>
            {% else %}
                <td class="text-center align-middle" colspan="6">Aucun élément trouvé</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
