{% block javascripts %}
    <script src="{{ asset('javascript/recipe/_form.js') }}"></script>
{% endblock %}

{% macro renderIngredientQuantityType(ingredientQuantityForRecipeForm) %}
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <div class="form-row">
                    <div class="col-1">
                        <button
                            class="btn btn-secondary ingredient-deletion-button w-100"
                            type="button"
                            >
                            x
                        </button>
                    </div>
                    <div class="col">
                        {{ form_widget(ingredientQuantityForRecipeForm.ingredient) }}
                        {{ form_help(ingredientQuantityForRecipeForm.ingredient) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.ingredient) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-row text-center">
                    <div class="col-1 mr-4 sr-only">
                        {{
                            form_label(
                                ingredientQuantityForRecipeForm.quantity,
                                null,
                                {'label_attr': {'class': 'w-100 pt-3 text-left'}}
                            )
                        }}
                    </div>
                    <div class="col-3">
                        {{
                            form_widget(
                                ingredientQuantityForRecipeForm.quantity,
                                {'attr': { 'placeholder': 'Quantité par part *', 'class': 'ingredient-quantity'}}
                            )
                        }}
                        {{ form_help(ingredientQuantityForRecipeForm.quantity) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.quantity) }}
                    </div>
                    <div class="col">
                        {{ form_widget(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                        {{ form_help(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                    </div>
                    <div class="col">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-proteins"></span>
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-carbohydrates"></span>
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-fat"></span>
                        </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-energy"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as renderIngredientQuantityTypeMacro %}

{% if app.user is not null %}
    {{ form_start(form) }}
        <div class="form-group">
            <label for="recipe_name">
                {{ form_label(form.name) }}
            </label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        {{ form_row(form.main_picture) }}

        {{ include('recipe/_nutritional_values.html.twig', {'title': 'Valeurs nutritionnelles', 'paddingTop': 0}) }}

        <div class="form-group">
            <div class="my-4">Ingrédients</div>
            <div
                id="ingredients"
                class="ingredients"
                data-prototype="{{ renderIngredientQuantityTypeMacro.renderIngredientQuantityType(form.ingredients.vars.prototype) | e('html_attr') }}"
                >
                {% for ingredientQuantity in form.ingredients %}
                    <div class="ingredient">
                        {{ renderIngredientQuantityTypeMacro.renderIngredientQuantityType(ingredientQuantity) }}
                    </div>
                {% endfor %}
            </div>

            {# prevent displaying Ingredients label #}
            {% if form.ingredients|length == 0 %}
                {{ form_widget(form.ingredients) }}
            {% endif %}
            <button
                type="button"
                class="add_item_link btn btn-outline-secondary w-100"
                data-collection-holder-class="ingredients">
                Ajouter un ingrédient
            </button>
        </div>

        {{ form_widget(form) }}

        <button class="btn btn-primary w-100">
            {{ button_label|default('Enregistrer') }}
        </button>
    {{ form_end(form) }}
{% endif %}
