{% block javascripts %}
    {{ encore_entry_script_tags('recipe_form') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('recipe_form') }}
{% endblock %}

{% macro renderIngredientQuantityType(ingredientQuantityForRecipeForm) %}
    <div class="mb-3 mb-2">
        <div class="row g-1">
            <div class="col-12 col-md">
                <div class="row g-1">
                    <div class="col-12 col-md-1">
                        <button
                            class="btn btn-secondary ingredient-deletion-button w-100"
                            type="button"
                            >
                            x
                        </button>
                    </div>
                    <div class="col-12 col-md">
                        {{ form_widget(ingredientQuantityForRecipeForm.ingredient) }}
                        {{ form_help(ingredientQuantityForRecipeForm.ingredient) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.ingredient) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="row g-1 text-center">
                    <div class="col-8 col-md-3">
                        {{
                            form_widget(
                                ingredientQuantityForRecipeForm.quantity,
                                {'attr': { 'placeholder': 'Quantité par part *', 'class': 'ingredient-quantity'}}
                            )
                        }}
                        {{ form_help(ingredientQuantityForRecipeForm.quantity) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.quantity) }}
                    </div>
                    <div class="col-4 col-md">
                        {{ form_widget(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                        {{ form_help(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                        {{ form_errors(ingredientQuantityForRecipeForm.isMeasuredByUnit) }}
                    </div>
                    <div class="col-3 col-md ingredient-nutritional-value">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-proteins"></span>
                        </div>
                    </div>
                    <div class="col-3 col-md ingredient-nutritional-value">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-carbohydrates"></span>
                        </div>
                    </div>
                    <div class="col-3 col-md ingredient-nutritional-value">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-fat"></span>
                        </div>
                    </div>
                    <div class="col-3 col-md ingredient-nutritional-value">
                        <div class="bg-light h-100 d-flex flex-column justify-content-center">
                            <span id="ingredient-energy"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as renderIngredientQuantityTypeMacro %}

{% if app.user is not null %}
    {{ form_start(form) }}
        <div class="p-4 bg-light">
            <div class="flex-grow-1">
                <h4>
                    {{ form_label(form.name) }}
                </h4>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="d-flex mt-4">
                <div class="flex-grow-1">
                    <h5>
                        {{ form_label(form.main_picture) }}
                    </h5>
                    {{ form_widget(form.main_picture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.main_picture) }}
                    {{ form_errors(form.main_picture) }}
                </div>
                <div class="ms-4 flex-grow-1">
                    <h5>
                        {{ form_label(form.difficulty_level) }}
                    </h5>
                    {{ form_widget(form.difficulty_level, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.difficulty_level) }}
                    {{ form_errors(form.difficulty_level) }}
                </div>
            </div>

            <div class="mt-4">
                <h5>{{ form_label(form.tags) }}</h5>
                {{ form_widget(form.tags) }}
                {{ form_help(form.tags) }}
                {{ form_errors(form.tags) }}
            </div>
            <div id="recipe_durations" class="row mt-3">
                <div class="col me-3">
                    <h5>{{ form_label(form.preparation_duration) }}</h5>
                    {{ form_widget(form.preparation_duration) }}
                    {{ form_help(form.preparation_duration) }}
                    {{ form_errors(form.preparation_duration) }}
                </div>
                <div class="col me-3">
                    <h5>{{ form_label(form.cooking_duration) }}</h5>
                    {{ form_widget(form.cooking_duration) }}
                    {{ form_help(form.cooking_duration) }}
                    {{ form_errors(form.cooking_duration) }}
                </div>
                <div class="col">
                    <h5>{{ form_label(form.rest_duration) }}</h5>
                    {{ form_widget(form.rest_duration) }}
                    {{ form_help(form.rest_duration) }}
                    {{ form_errors(form.rest_duration) }}
                </div>
            </div>
        </div>

        <div class="px-4 pt-4 pb-3 bg-light mt-4">
            {{ include('recipe/_nutritional_values.html.twig', {'title': 'Valeurs nutritionnelles', 'paddingTop': 0}) }}

            <div class="mb-3">
                <h4 class="my-4">Ingrédients</h4>
                <div
                        id="ingredients"
                        class="ingredients"
                        data-prototype="{{ renderIngredientQuantityTypeMacro.renderIngredientQuantityType(form.ingredients.vars.prototype) | e('html_attr') }}"
                >
                    {% for ingredientQuantity in form.ingredients %}
                        <div class="ingredient mt-4 mt-md-0">
                            {{ renderIngredientQuantityTypeMacro.renderIngredientQuantityType(ingredientQuantity) }}
                        </div>
                    {% endfor %}
                </div>

                {# prevent displaying Ingredients label #}
                {% if form.ingredients|length == 0 %}
                    {{ form_widget(form.ingredients) }}
                {% endif %}
                <button
                        type="button"
                        class="add_item_link btn btn-secondary w-100"
                        data-collection-holder-class="ingredients"
                >
                    Ajouter un ingrédient
                </button>
            </div>
        </div>

        <div class="p-4 bg-light mt-4">
            <div class="">
                <h4>{{ form_label(form.process) }}</h4>
                {{ form_widget(form.process) }}
                {{ form_help(form.process) }}
                {{ form_errors(form.process) }}
            </div>
            <div class="mt-3">
                <h4>{{ form_label(form.comment) }}</h4>
                {{ form_widget(form.comment) }}
                {{ form_help(form.comment) }}
                {{ form_errors(form.comment) }}
            </div>
            {{ form_widget(form) }}
        </div>

        <button class="btn btn-primary btn-lg w-100 my-5">
            {{ button_label|default('Enregistrer') }}
        </button>
    {{ form_end(form) }}
{% endif %}
