<h4 class="pt-{{paddingTop}}">{{ title }}</h4>
<div class="mt-4 table-responsive">
    <table id="nutritional-values" class="table table-bordered text-center">
        <thead class="thead-light">
            <tr>
                <th class="w-25">Protéines</th>
                <th class="w-25">Glucides</th>
                <th class="w-25">Lipides</th>
                <th class="w-25">Énergie</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td>
                    <div class="d-none d-md-block">
                        <span class="recipe-proteins">{{ recipe.proteins | round }}</span>&nbsp;g
                        {% if app.user is not null and app.user.proteins > 0 %}
                            {% set percentageDifference = (((recipe.proteins - app.user.proteins) / app.user.proteins) * 100) | round %}
                            <small class="text-muted">
                                / <span class="user-proteins">{{ app.user.proteins }}</span>&nbsp;g
                                <br />
                                {% if recipe.proteins >= app.user.proteins %}
                                    (<i class="ri-arrow-up-circle-fill text-success"></i>
                                    <span class="percentage-proteins">+{{ percentageDifference}}</span>%)
                                {% else %}
                                    (<i class="ri-arrow-down-circle-fill text-danger"></i>
                                    <span class="percentage-proteins">{{ percentageDifference}}</span>%)
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                    <div class="d-md-none d-flex flex-column align-items-center">
                        <div>
                            <span class="recipe-proteins">{{ recipe.proteins | round }}</span>&nbsp;g
                        </div>
                        {% if app.user is not null and app.user.proteins > 0 %}
                            <hr class="w-25 m-1">
                            {% set percentageDifference = (((recipe.proteins - app.user.proteins) / app.user.proteins) * 100) | round %}
                            <div>
                                <small class="text-muted">
                                    <span class="user-proteins">{{ app.user.proteins }}</span>&nbsp;g
                                </small>
                            </div>
                            <div>
                                <small class="text-muted nutritional-percentage">
                                    {% if recipe.proteins >= app.user.proteins %}
                                        (<i class="ri-arrow-up-circle-fill text-success"></i><span class="percentage-proteins">+{{ percentageDifference}}</span>%)
                                    {% else %}
                                        (<i class="ri-arrow-down-circle-fill text-danger"></i><span class="percentage-proteins">{{ percentageDifference}}</span>%)
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="d-none d-md-block">
                        <span class="recipe-carbohydrates">{{ recipe.carbohydrates | round }}</span>&nbsp;g
                        {% if app.user is not null and app.user.carbohydrates > 0 %}
                            {% set percentageDifference = (((recipe.carbohydrates - app.user.carbohydrates) / app.user.carbohydrates) * 100) | round %}
                            <small class="text-muted">
                                / <span class="user-carbohydrates">{{ app.user.carbohydrates }}</span>&nbsp;g
                                <br />
                                {% if recipe.carbohydrates >= app.user.carbohydrates %}
                                    (<i class="ri-arrow-up-circle-fill"></i>
                                    <span class="percentage-carbohydrates">+{{ percentageDifference}}</span>%)
                                {% else %}
                                    (<i class="ri-arrow-down-circle-fill"></i>
                                    <span class="percentage-carbohydrates">{{ percentageDifference}}</span>%)
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                    <div class="d-md-none d-flex flex-column align-items-center">
                        <div>
                            <span class="recipe-carbohydrates">{{ recipe.carbohydrates | round }}</span>&nbsp;g
                        </div>
                        {% if app.user is not null and app.user.carbohydrates > 0 %}
                            <hr class="w-25 m-1">
                            {% set percentageDifference = (((recipe.carbohydrates - app.user.carbohydrates) / app.user.carbohydrates) * 100) | round %}
                            <div>
                                <small class="text-muted">
                                    <span class="user-carbohydrates">{{ app.user.carbohydrates }}</span>&nbsp;g
                                </small>
                            </div>
                            <div>
                                <small class="text-muted nutritional-percentage">
                                    {% if recipe.carbohydrates >= app.user.carbohydrates %}
                                        (<i class="ri-arrow-up-circle-fill"></i><span class="percentage-carbohydrates">+{{ percentageDifference}}</span>%)
                                    {% else %}
                                        (<i class="ri-arrow-down-circle-fill"></i><span class="percentage-carbohydrates">{{ percentageDifference}}</span>%)
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="d-none d-md-block">
                        <span class="recipe-fat">{{ recipe.fat | round }}</span>&nbsp;g
                        {% if app.user is not null and app.user.fat > 0 %}
                            {% set percentageDifference = (((recipe.fat - app.user.fat) / app.user.fat) * 100) | round %}
                            <small class="text-muted">
                                / <span class="user-fat">{{ app.user.fat }}</span>&nbsp;g
                                <br />
                                {% if recipe.fat >= app.user.fat %}
                                    (<i class="ri-arrow-up-circle-fill"></i>
                                    <span class="percentage-fat">+{{ percentageDifference}}</span>%)
                                {% else %}
                                    (<i class="ri-arrow-down-circle-fill"></i>
                                    <span class="percentage-fat">{{ percentageDifference}}</span>%)
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                    <div class="d-md-none d-flex flex-column align-items-center">
                        <div>
                            <span class="recipe-fat">{{ recipe.fat | round }}</span>&nbsp;g
                        </div>
                        {% if app.user is not null and app.user.fat > 0 %}
                            <hr class="w-25 m-1">
                            {% set percentageDifference = (((recipe.fat - app.user.fat) / app.user.fat) * 100) | round %}
                            <div>
                                <small class="text-muted">
                                    <span class="user-fat">{{ app.user.fat }}</span>&nbsp;g
                                </small>
                            </div>
                            <div>
                                <small class="text-muted nutritional-percentage">
                                    {% if recipe.fat >= app.user.fat %}
                                        (<i class="ri-arrow-up-circle-fill"></i><span class="percentage-fat">+{{ percentageDifference}}</span>%)
                                    {% else %}
                                        (<i class="ri-arrow-down-circle-fill"></i><span class="percentage-fat">{{ percentageDifference}}</span>%)
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="d-none d-md-block">
                        <span class="recipe-energy">{{ recipe.energy | round }}</span>&nbsp;g
                        {% if app.user is not null and app.user.energy > 0 %}
                            {% set percentageDifference = (((recipe.energy - app.user.energy) / app.user.energy) * 100) | round %}
                            <small class="text-muted">
                                / <span class="user-energy">{{ app.user.energy }}</span>&nbsp;g
                                <br />
                                {% if recipe.energy >= app.user.energy %}
                                    (<i class="ri-arrow-up-circle-fill"></i>
                                    <span class="percentage-energy">+{{ percentageDifference}}</span>%)
                                {% else %}
                                    (<i class="ri-arrow-down-circle-fill"></i>
                                    <span class="percentage-energy">{{ percentageDifference}}</span>%)
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                    <div class="d-md-none d-flex flex-column align-items-center">
                        <div>
                            <span class="recipe-energy">{{ recipe.energy | round }}</span>&nbsp;g
                        </div>
                        {% if app.user is not null and app.user.energy > 0 %}
                            <hr class="w-25 m-1">
                            {% set percentageDifference = (((recipe.energy - app.user.energy) / app.user.energy) * 100) | round %}
                            <div>
                                <small class="text-muted">
                                    <span class="user-energy">{{ app.user.energy }}</span>&nbsp;g
                                </small>
                            </div>
                            <div>
                                <small class="text-muted nutritional-percentage">
                                    {% if recipe.energy >= app.user.energy %}
                                        (<i class="ri-arrow-up-circle-fill"></i><span class="percentage-energy">+{{ percentageDifference}}</span>%)
                                    {% else %}
                                        (<i class="ri-arrow-down-circle-fill"></i><span class="percentage-energy">{{ percentageDifference}}</span>%)
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
