<div
        class="card klassy-cafe-card mb-4 mx-0"
        {% if recipe.mainPictureFilename is empty %}
            style="background-image: url({{ asset('build/image/default-recipe-main-picture.jpg') }}"
        {% else %}
            style="background-image: url({{ asset('uploads/pictures/' ~ recipe.mainPictureFilename) }}"
        {% endif %}
>
    <div class="top-box">
        <h6 class="energy-box d-flex justify-content-center align-items-center">
            <span>
                <span class="energy-count">
                    {{ recipe.energy | round }}
                </span><br>
                <span class="energy-unit">
                    kcal
                </span>
            </span>
        </h6>
        {% if app.user is not null %}
            <h6 class="fav-box d-flex justify-content-center align-items-center">
                <span
                    class="toggle-favorite-button"
                    data-url="{{ path('api_recipe_toggle_favorite', {'id': recipe.id}) }}"
                    data-marked-as-favorite="{{ recipe.isFavedBy(app.user) }}"
                ></span>
            </h6>
        {% endif %}
    </div>
    <div class="info-box d-flex flex-column justify-content-between">
        <div>
            <h1 class="title">
                {{ recipe.name }}
            </h1>

            {% if recipe.author.doShowUsernameOnRecipe or (app.user is not null and app.user == recipe.author) %}
                    {# Commented for notifications and follow rework #}
                    {# or (app.user is not null and app.user.doFollowUsernameOnRecipe(recipe.author)) #}
                <p class="description">
                    Par {{ recipe.author.username }}
                </p>
            {% endif %}
            <div id="recipe-tags">
                {% for tag in recipe.tags %}
                    <span class="recipe-tag">
                        {{ tag.label }}
                    </span>
                {% endfor %}
            </div>
        </div>
        <div class="main-text-button">
            <div class="row g-2">
                <div class="col">
                    <a
                            class="recipe-details-page-button btn btn-sm mb-2"
                            href="{{ path('recipe_show', {'id': recipe.id}) }}"
                    >
                        Voir
                    </a>
                </div>
                {% if app.user is not null %}
                    <div class="col">
                        <a
                                class="btn btn-sm mb-2"
                                href="{{ path('recipe_edit', {'id': recipe.id}) }}"
                        >
                            Éditer
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if app.user is not null %}
                <div class="row">
                    <div class="col">
                        <a
                                class="btn btn-sm btn-outline"
                                href="{{ path('recipe_new', {'fromRecipe': recipe.id}) }}"
                        >
                            Copier la recette
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
