{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/recipe/show.js') }}"></script>
{% endblock %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Recettes</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('recipe_index') }}">Liste des recettes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ recipe.name }}
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <div class="row">
                {% if recipe.mainPictureFilename is not empty %}
                    <div class="col-2">
                        <div>
                            <img class="img-fluid" src="{{ asset('uploads/pictures/' ~ recipe.mainPictureFilename) }}">
                        </div>
                        <small class="text-muted font-italic">Miam !</small>
                    </div>
                {% endif %}
                <div class="col">
                    <h1>
                        {{ recipe.name }}
                        {% if app.user is not null %}
                            <small class="font-italic">(id : {{ recipe.id }})</small>
                        {% endif %}
                        {% if app.user is not null %}
                            {% if app.user.hasFaved(recipe) %}
                                <i
                                    id="toggle-favorite-button"
                                    class="action-icon ri-heart-fill text-primary"
                                    data-toggle="tooltip"
                                    title="Retirer de mes favoris"></i>
                            {% else %}
                                <i
                                    id="toggle-favorite-button"
                                    class="action-icon ri-heart-add-line text-primary"
                                    data-toggle="tooltip"
                                    title="Ajouter à mes favoris"></i>
                            {% endif %}

                            {{ include('recipe/_toggle_favorite_form.html.twig') }}
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
        {% if app.user is not null %}
            <div class="col-2 text-right">
                <div class="row">
                    <div class="col pr-0">
                        {{ include('recipe/_delete_form.html.twig') }}
                    </div>
                    <div class="col-5 pl-0">
                        <a class="btn btn-secondary btn-large" href="{{ path('recipe_edit', {'id': recipe.id}) }}">Éditer</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <h2 class="mt-5 pt-2">Valeurs nutritionnelles</h2>
            <div class="my-4">
                <table class="table table-bordered text-center">
                    <thead class="thead-light">
                        <tr>
                            <th>Protéines</th>
                            <th>Lipides</th>
                            <th>Glucides</th>
                            <th>Énergie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                {{ recipe.proteins | round }} g
                                {% if app.user is not null and app.user.proteins > 0 %}
                                    {% set percentageDifference = (((recipe.proteins - app.user.proteins) / app.user.proteins) * 100) | round %}
                                    <small class="text-muted">
                                        / {{ app.user.proteins }} g
                                        {% if recipe.proteins >= app.user.proteins %}
                                            (<i class="ri-arrow-up-circle-fill text-success"></i>
                                            +{{ percentageDifference}}%)
                                        {% else %}
                                            (<i class="ri-arrow-down-circle-fill text-danger"></i>
                                            {{ percentageDifference}}%)
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </th>
                            <td>
                                {{ recipe.fat | round }} g
                                {% if app.user is not null and app.user.fat > 0 %}
                                    {% set percentageDifference = (((recipe.fat - app.user.fat) / app.user.fat) * 100) | round %}
                                    <small class="text-muted">
                                        / {{ app.user.fat }} g
                                        {% if recipe.fat >= app.user.fat %}
                                            (<i class="ri-arrow-up-circle-fill"></i>
                                            +{{ percentageDifference}}%)
                                        {% else %}
                                            (<i class="ri-arrow-down-circle-fill"></i>
                                            {{ percentageDifference}}%)
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                {{ recipe.carbohydrates | round }} g
                                {% if app.user is not null and app.user.carbohydrates > 0 %}
                                    {% set percentageDifference = (((recipe.carbohydrates - app.user.carbohydrates) / app.user.carbohydrates) * 100) | round %}
                                    <small class="text-muted">
                                        / {{ app.user.carbohydrates }} g
                                        {% if recipe.carbohydrates >= app.user.carbohydrates %}
                                            (<i class="ri-arrow-up-circle-fill"></i>
                                            +{{ percentageDifference}}%)
                                        {% else %}
                                            (<i class="ri-arrow-down-circle-fill"></i>
                                            {{ percentageDifference}}%)
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                {{ recipe.energy | round }} kcal
                                {% if app.user is not null and app.user.energy > 0 %}
                                    {% set percentageDifference = (((recipe.energy - app.user.energy) / app.user.energy) * 100) | round %}
                                    <small class="text-muted">
                                        / {{ app.user.energy }} kcal
                                        {% if recipe.energy < app.user.energy %}
                                            (<i class="ri-arrow-down-circle-fill text-success"></i>
                                            {{ percentageDifference}}%)
                                        {% else %}
                                            (<i class="ri-arrow-up-circle-fill text-danger"></i>
                                            +{{ percentageDifference}}%)
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="mt-5 pt-2">
                Ingrédients pour une part
            </h2>
            <div class="ml-5 my-4">
                <form>
                    {% for ingredientQuantity in recipe.ingredients %}
                        {% set ingredient = ingredientQuantity.ingredient %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ingredient-check-{{ ingredient.id }}">
                            <label class="custom-control-label" for="ingredient-check-{{ ingredient.id }}">
                                {{ ingredientQuantity.quantity }}
                                {{ ingredient.measureType }}
                                de
                                <span class="text-lowercase">{{ ingredient.label }}</span>
                                <a href="{{ path('ingredient_show', {'id': ingredient.id}) }}"
                                   target="_blank"
                                    class="text-muted">
                                    <small>Voir la fiche ingrédient</small>
                                </a>
                            </label>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="mt-5 pt-2">Préparation</h2>
            <div class="ml-5 my-4">
                {% if recipe.process | length > 0 %}
                    {{ recipe.process | markdown_to_html }}
                {% else %}
                    Vas-y à l'instinct c:
                {% endif %}
            </div>
        </div>
    </div>
    {% if recipe.comment | length > 0 %}
        <div class="row">
            <div class="col">
                <h2 class="mt-5 pt-2">Notes</h2>
                <div class="ml-5 my-4">
                    {{ recipe.comment }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
