<nav
    id="top-navbar"
    class="navbar navbar-expand-md main-nav"
    {% if app.user is not null %}
        data-url-unread-notifications="{{ path('api_unread_notification') }}"
    {% endif %}
>
    <a class="logo" href="{{ path('home') }}">
        <img src="{{ asset('build/image/klassy-cafe/klassy-logo.png') }}">
    </a>
    <button
        class="navbar-toggler menu-trigger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#top-navbar-links"
        aria-controls="top-navbar-links"
        aria-expanded="false"
        aria-label="Ouvrir la navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="top-navbar-links" class="collapse navbar-collapse nav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown submenu">
                <a
                    id="ingredients-dropdown"
                    class="nav-link dropdown-toggle"
                    href="{{ path('ingredient_index') }}"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Ingrédients
                </a>
                <ul
                    aria-labelledby="ingredients-dropdown"
                    class="dropdown-menu"
                >
                    <li>
                        <a class="dropdown-item" href="{{ path('ingredient_index') }}">
                            Voir la liste des ingrédients
                        </a>
                    </li>
                    {% if app.user is not null %}
                        <li>
                            <a class="dropdown-item" href="{{ path('ingredient_new') }}">
                                Enregistrer un nouvel ingrédient
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item dropdown submenu">
                <a
                    id="recipes-dropdown"
                    class="nav-link dropdown-toggle"
                    href="{{ path('recipe_index') }}"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Recettes
                </a>
                <ul
                    class="dropdown-menu"
                    aria-labelledby="recipes-dropdown"
                >
                    <li>
                        <a class="dropdown-item" href="{{ path('recipe_index') }}">
                            Voir la liste des recettes
                        </a>
                    </li>
                    {% if app.user is not null %}
                        <li>
                            <a class="dropdown-item" href="{{ path('recipe_new') }}">
                                Enregistrer une nouvelle recette
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {% if app.user is not null %}
                <li class="nav-item dropdown submenu">
                    <a
                            id="meals-dropdown"
                            class="nav-link dropdown-toggle"
                            href="{{ path('meal_list_index') }}"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Listes de repas
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="meals-dropdown"
                    >
                        <li>
                            <a class="dropdown-item" href="{{ path('meal_list_index') }}">
                                Voir les listes de repas
                            </a>
                        </li>
                        {% if app.user is not null %}
                            <li>
                                <a class="dropdown-item" href="{{ path('meal_list_new') }}">
                                    Enregistrer une nouvelle liste de repas
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        {% if app.user is not null %}
            <ul class="navbar-nav ms-auto mb-0">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown submenu">
                        <a
                            id="administration-dropdown"
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Administration
                        </a>
                        <ul
                            class="dropdown-menu"
                            aria-labelledby="administration-dropdown"
                        >
                            <li>
                                <a class="dropdown-item" href="{{ path('store_index') }}">
                                    Voir la liste des magasins
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('user_new') }}">
                                    Créer un nouveau compte
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('user_index') }}">
                                    Voir la liste des comptes
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown submenu">
                    <a
                        id="user-dropdown"
                        class="nav-link dropdown-toggle"
                        href="{{ path('my_account_index') }}"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="ri-account-circle-line"></i>
                        {{ app.user.username }}
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="user-dropdown"
                    >
                        <li>
                            <a
                                id="user-notifications"
                                class="dropdown-item"
                                href="{{ path('my_account_notifications') }}"
                            >
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="badge rounded-pill bg-info me-1 d-none"></span>
                                    <span>Notifications</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('my_account_index') }}">
                                Mon compte
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                Me déconnecter
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <form class="ms-auto d-none d-xl-flex" action="{{ path('app_login') }}" method="post">
                <input
                    type="text"
                    class="form-control me-2"
                    id="username"
                    name="_username"
                    placeholder="Username"
                    value="{% if username is defined %}{{ username }}{% endif %}"
                >
                <input
                    type="password"
                    class="form-control me-2"
                    id="password"
                    name="_password"
                    placeholder="Mot de passe"
                >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {# redirection after form submission #}
                {% if (app.request.pathinfo != '/login') %}
                    <input type="hidden" name="_target_path" value="{{ app.request.requesturi }}">
                {% endif %}
                <button
                    type="submit"
                    class="btn btn-outline-primary"
                >
                    Connexion
                </button>
            </form>
        {% endif %}
    </div>
</nav>
