<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Boustigraille - {% block title %}{% endblock %}</title>
        {% block global_css %}
            <link rel="stylesheet" href="{{ asset('font/library/remixicon/fonts/remixicon.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block global_js %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('global') }}
{#            <script src="{{ asset('javascript/library/bootstrap.bundle.min.js') }}"></script>#}
{#            <script src="{{ asset('javascript/global.js') }}"></script>#}
        {% endblock %}
        {% block javascript %}{% endblock %}
{#        <link rel="stylesheet" href="{{ asset('css/base.css') }}">#}
        {% block stylesheets %}{% endblock %}
{#        <link rel="icon" type="image/png" href="{{ asset('boustigraille.png') }}" />#}
    </head>
    <body>
        <div id="page" class="container-fluid">
            {# ------------------------------------ #}
            {# ------------- Top menu ------------- #}
            {# ------------------------------------ #}
            <header class="mb-5">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                            <button
                                class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ingrédients
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="{{ path('ingredient_index') }}">
                                                    Voir la liste des ingrédients
                                                </a>
                                            </li>
                                            {% if app.user is not null %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('ingredient_new') }}">
                                                        Enregistrer un nouvel ingrédient
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Recettes
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="{{ path('recipe_index') }}">
                                                    Voir la liste des recettes
                                                </a>
                                            </li>
                                            {% if app.user is not null %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('recipe_new') }}">
                                                        Enregistrer une nouvelle recette
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    {% if app.user is not null %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Administration
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('user_new') }}">
                                                            Créer un nouveau compte
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('user_index') }}">
                                                            Voir la liste des comptes
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ app.user.username }}
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('user_edit_nutritional_data') }}">
                                                        Éditer mes valeurs nutritionnelles
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                                        Me déconnecter
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                </ul>
                                {% if app.user is null %}
                                    <form class="ms-auto d-flex" action="{{ path('app_login') }}" method="post">
                                        <input
                                            type="text"
                                            class="form-control me-2"
                                            id="username"
                                            name="username"
                                            placeholder="Username"
                                            value="{% if username is defined %}{{ username }}{% endif %}"
                                        >
                                        <input
                                            type="password"
                                            class="form-control me-2"
                                            id="password"
                                            name="password"
                                            placeholder="Mot de passe"
                                        >
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <button
                                            type="submit"
                                            class="btn btn-outline-light"
                                        >
                                            Connexion
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
            </header>

            <div id="container-alert-messages" class="container-fluid">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message | raw }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="container-fluid">
                <nav aria-label="Fil d'ariane" class="px-4 pt-3 pb-2 bg-light mb-4">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
                        {% endblock %}
                    </ol>
                </nav>
            </div>

            <div id="page-content" class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="page-footer mt-4">
            <nav class="nav bg-primary justify-content-center text-light py-2">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                        Site réalisé sous licence AGPL v3
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="https://github.com/LucileDT/boustigraille">
                        Voir le code source
                    </a>
                </li>
            </nav>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
