{% extends 'base.html.twig' %}

{% block title %}Édition du magasin {{ store.label }}{% endblock %}

{% block page_breadcrumb %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item">Administration</li>
                <li class="breadcrumb-item"><a href="{{ path('store_index') }}">Liste des magasins</a></li>
                <li class="breadcrumb-item active" aria-current="page">Édition du magasin {{ store.label }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h2>Édition du magasin {{ store.label }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ include('store/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
