{% extends 'base.html.twig' %}

{% block title %}Édition de mes valeurs nutritionnelles{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h6>
                        <a href="{{ path('home') }}">Accueil</a>
                        / Mon compte
                        / Édition de mes valeurs nutritionnelles
                    </h6>
                    <h2>Édition de mes valeurs nutritionnelles</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
