{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Administration</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Liste des comptes
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col-6">
            <h1>Liste des comptes</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary btn-large" href="{{ path('user_new') }}">Créer un nouveau compte</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-stripped">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Responsibilités</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                {%  for responsibility in user.responsibilities %}
                                    <span>{{ responsibility.label }}</span>
                                {% endfor %}
                            </td>
                            <td class="text-end">
                                <a class="btn-primary btn" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                                <a class="btn-secondary btn" href="{{ path('user_edit', {'id': user.id}) }}">Éditer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Pas de données trouvées</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
